@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #0d0d0d;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.header-bg {
	background: #192640;
}

/* .body-bg {
	background: rgb(0, 0, 0);
	background: -moz-linear-gradient(
		0deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(35, 68, 101, 1) 100%
	);
	background: -webkit-linear-gradient(
		0deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(35, 68, 101, 1) 100%
	);
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(35, 68, 101, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#234465", GradientType=1);
} */
input {
	outline: none;
}
select {
	outline: none;
}
a {
	font-weight: 500;
	text-decoration: inherit;
}

img {
	height: auto;
	width: auto;
}

body {
	margin: 0;
	min-height: 100vh;
	@apply bg-gray-950;
}

h1 {
	font-size: 3.2em;
	line-height: 0.85em !important;
}

header {
	@apply bg-gray-950;
}

header.scrolled {
	@apply border-b border-gray-800;
}

#nav-hamburger {
	transition: all 0.3s ease-in-out;
}

@media (prefers-color-scheme: light) {
}

Image {
	width: auto;
	height: auto;
}

a {
	@apply text-blue-500;
}
a:hover {
	@apply text-blue-200;
}
.bg-lines {
	background: radial-gradient(
				35.36% 35.36% at 100% 25%,
				#0000 66%,
				rgba(26, 72, 198, 0.89) 68% 70%,
				#0000 72%
			)
			100px 100px / calc(2 * 100px) calc(2 * 100px),
		radial-gradient(
				35.36% 35.36% at 0 75%,
				#0000 66%,
				rgba(26, 72, 198, 0.89) 68% 70%,
				#0000 72%
			)
			100px 100px / calc(2 * 100px) calc(2 * 100px),
		radial-gradient(
				35.36% 35.36% at 100% 25%,
				#0000 66%,
				rgba(26, 72, 198, 0.89) 68% 70%,
				#0000 72%
			)
			0 0 / calc(2 * 100px) calc(2 * 100px),
		radial-gradient(
				35.36% 35.36% at 0 75%,
				#0000 66%,
				rgba(26, 72, 198, 0.89) 68% 70%,
				#0000 72%
			)
			0 0 / calc(2 * 100px) calc(2 * 100px),
		repeating-conic-gradient(#1d4ed8 0 25%, #0000 0 50%) 0 0 / calc(2 * 100px)
			calc(2 * 100px),
		radial-gradient(#0000 66%, rgba(26, 72, 198, 0.89) 68% 70%, #0000 72%) 0
			calc(100px / 2) / 100px 100px #1d4ed8;
}

.bg-nested-cubes {
	background: conic-gradient(
			from 0deg at calc(500% / 6) calc(100% / 3),
			rgba(193, 207, 245, 0.39) 0 120deg,
			#0000 0
		),
		conic-gradient(
			from -120deg at calc(100% / 6) calc(100% / 3),
			rgba(104, 138, 232, 0.39) 0 120deg,
			#0000 0
		),
		conic-gradient(
			from 120deg at calc(100% / 3) calc(500% / 6),
			rgba(31, 77, 203, 0.39) 0 120deg,
			#0000 0
		),
		conic-gradient(
			from 120deg at calc(200% / 3) calc(500% / 6),
			rgba(31, 77, 203, 0.39) 0 120deg,
			#0000 0
		),
		conic-gradient(
			from -180deg at calc(100% / 3) 50%,
			rgba(104, 138, 232, 0.39) 60deg,
			rgba(31, 77, 203, 0.39) 0 120deg,
			#0000 0
		),
		conic-gradient(
			from 60deg at calc(200% / 3) 50%,
			rgba(31, 77, 203, 0.39) 60deg,
			rgba(193, 207, 245, 0.39) 0 120deg,
			#0000 0
		),
		conic-gradient(
			from -60deg at 50% calc(100% / 3),
			rgba(31, 77, 203, 0.39) 120deg,
			rgba(104, 138, 232, 0.39) 0 240deg,
			rgba(193, 207, 245, 0.39) 0
		);
	background-size: 128px 74px;
}
.bg-curves {
	background-image: repeating-radial-gradient(
			circle at 0 100%,
			transparent 0,
			#1d4ed8 100px
		),
		repeating-linear-gradient(rgba(26, 72, 198, 0.89), rgba(26, 72, 198, 0.89));
	background-color: #1d4ed8;
}

.bg-primary {
	background-color: #1d4ed8;
}
.text-primary {
	color: #1d4ed8;
}

.text-overflow-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
}
.text-overflow-1 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.bg-question-card {
	background-color: #0f172a;
}

.pricy-border {
	border: 1px solid goldenrod;
}
